<.form let={f} for={@changeset} action={Routes.user_reset_password_path(@conn, :update, @token)}>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Ups, algo estuvo mal! Por favor revisa los errores abajo.</p>
    </div>
  <% end %>

  <h1 class="text-center my-2">Restablecer contraseña</h1>
  <div class="relative w-full my-2">
    <%= label f, :password, "Contraseña", class: "block uppercase text-gray-600 text-xs font-bold mb-2" %>
    <%= password_input f, :password, required: true, class: "border-0 px-3 py-3 placeholder-gray-300 text-gray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150" %>
    <%= error_tag f, :password %>
  </div>
  <div class="relative w-full my-2">
    <%= label f, :password_confirmation, "Confirmar nueva contraseña", class: "block uppercase text-gray-600 text-xs font-bold mb-2" %>
    <%= password_input f, :password_confirmation, required: true, class: "border-0 px-3 py-3 placeholder-gray-300 text-gray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150" %>
    <%= error_tag f, :password_confirmation %>
  </div>
  <div class="text-center mt-6">
    <%= submit "Restablecer", class: "bg-gray-800 text-white active:bg-gray-600 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 w-full ease-linear transition-all duration-150" %>
  </div>
</.form>

<p>
  <%= link "Registrase", to: Routes.user_registration_path(@conn, :new) %> |
  <%= link "Iniciar sesión", to: Routes.user_session_path(@conn, :new) %>
</p>
