<h1>Show Contact</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @contact.name %>
  </li>

  <li>
    <strong>Phone:</strong>
    <%= @contact.phone %>
  </li>

  <li>
    <strong>Email:</strong>
    <%= @contact.email %>
  </li>

  <li>
    <strong>Address:</strong>
    <%= @contact.address %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.contact_path(@conn, :edit, @contact) %></span> |
<span><%= link "Back", to: Routes.contact_path(@conn, :index) %></span>
